In [1]:
import pandas as pd

In [2]:
streaming_services = [{'Free' : 'Netflix', 'Paid' : 'Hulu', 'Premium' : 'HBO max'},
                      {'Free' : 'Amazon Prime', 'Paid' : 'Max', 'Premium' : 'Disney+'},
                      {'Free' : 'Paramount', 'Paid' : 'Peacock', 'Premium' : 'Mubi'}]
pd.DataFrame(streaming_services)

           Free     Paid  Premium
0       Netflix     Hulu  HBO max
1  Amazon Prime      Max  Disney+
2     Paramount  Peacock     Mubi

In [3]:
my_df = pd.DataFrame(streaming_services)
my_df.head()

           Free     Paid  Premium
0       Netflix     Hulu  HBO max
1  Amazon Prime      Max  Disney+
2     Paramount  Peacock     Mubi

In [4]:
my_df.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
my_df['Free']

0         Netflix
1    Amazon Prime
2       Paramount
Name: Free, dtype: object

In [6]:
my_df.loc[0]

Free       Netflix
Paid          Hulu
Premium    HBO max
Name: 0, dtype: object

In [7]:
my_df.loc[0]

Free       Netflix
Paid          Hulu
Premium    HBO max
Name: 0, dtype: object

In [8]:
streaming_services_dict = {'Free' : ['Netflix', 'Amazon Prime', 'Paramount'],
                           'Paid' : ['Hulu', 'Max', 'Peacock'],
                           'Premium' : ['HBO max', 'Disney+', 'Mubi']}
pd.DataFrame(streaming_services_dict)

           Free     Paid  Premium
0       Netflix     Hulu  HBO max
1  Amazon Prime      Max  Disney+
2     Paramount  Peacock     Mubi

In [9]:
my_df.to_csv('streaming_services.csv', index=False)

### What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?
   * The write/render/evaluate enables creators to develop interactive data using a particular approach by writing the code, rendering the visualization and seeing the effectiveness of the output.
### Why are dynamic, interactive data visualizations useful when communicating data
   * It enables people to explore the data for themselves, encourages engagement with the audience and also promotes interaction with the data at a higher dimesion..
### Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.
   * I agree with Murray's claim that open-source tools are best for publishing data visualization because it enable transparency wiuchenabless usero customize the tools to better meet their needs. They are also free to use